<template>
  <div id="foot" class="flex row v-center">
    <img id="logo" src="~assets/logo.png" alt="Logo d'Asso Share" />

    <div class="link-container flex col">
      <a v-for="lien in liens" :key="lien" href="javascript:void(0);">{{
        lien
      }}</a>
    </div>

    <div class="social-container">
      <a href="javascript:void(0);"
        ><img class="social" src="~assets/twitter.png"
      /></a>
      <a href="javascript:void(0);"
        ><img class="social" src="~assets/facebook.png"
      /></a>
      <a href="javascript:void(0);"
        ><img class="social" src="~assets/instagram.png"
      /></a>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  setup() {
    return {};
  },

  data: () => {
    return {
      liens: ["Plan du site", "Mentions légales", "Contact"],
    };
  },
});
</script>

<style scoped lang="scss">
#foot {
  background-color: #8e76ae;
  color: #fff;
  font-family: "Spline Sans", sans-serif;
  font-size: 20px;
  justify-content: space-around;

  a {
    color: #fff;
    text-decoration: none;
    transition: color 100ms;
    transition: text-decoration 100ms;

    &:hover {
      text-decoration: underline;
      color: #7aae76;
    }
  }
  #logo {
    max-width: 150px;
    height: auto;
    margin: 5px 0px;
  }

  .social {
    max-width: 40px;
    height: auto;
    margin: 5px;
    transition: transform 200ms ease-in-out;

    &:hover {
      transform: scale(1.5);
    }
  }
}
</style>
