<template>
  <div class="topnav">
    <NuxtLink id="lien-logo" to="/">
      <img src="~/assets/logo.png" alt="Logo d'Asso Share" />
    </NuxtLink>
    <NuxtLink
      v-for="item in menuItems"
      :key="item.title"
      :to="item.path"
      :class="[item.active ? 'active-route' : '']"
    >
      {{ item.title }}
    </NuxtLink>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    page: String,
  },

  data: () => {
    return {
      menuItems: [
        {
          title: "Fonctionnement",
          path: "/fonctionnement",
          active: false,
        },
        { title: "FAQ", path: "/faq", active: false },
        {
          title: "Galerie",
          path: "/galerie",
          active: false,
        },
      ],

      sidebar: false,
    };
  },

  methods: {
    checkActive(nomPage) {
      return this.page === nomPage;
    },
  },

  mounted() {
    this.menuItems = [
      {
        title: "Fonctionnement",
        path: "/fonctionnement",
        active: this.checkActive("fonctionnement"),
      },
      { title: "FAQ", path: "/faq", active: this.checkActive("faq") },
      {
        title: "Galerie",
        path: "/galerie",
        active: this.checkActive("galerie"),
      },
    ];
  },
});
</script>

<style scoped lang="scss">
@import "../styles/navbar.css";
</style>
