<template>
  <v-app>
    <navbar page="faq" />

    <div id="accroche" class="flex col center">
      <div id="img-background">
        <img id="main" src="~/assets/faq.png" />
      </div>
    </div>

    <section id="fonctionnement" class="flex col center">
      <span class="titre">LOREM IPSUM !!</span>

      <div class="flex row v-center">
        <p>
          Asso Share est une app qui facilite la rencontre entre les
          associations et les bénévoles pour des missions ponctuelles! Lorem
          ipsum dolor sit amet, consectetur adipiscing elit. Nulla odio ante,
          efficitur ac augue non, tempor vestibulum diam. Sed laoreet justo sit
          amet viverra lacinia. Quisque ultricies iaculis consequat. Vivamus
          aliquam sem sed elit egestas accumsan. In id ex odio. Donec sit amet
          urna sed ligula porttitor sodales placerat eu dui. Praesent eu massa
          sapien. Sed tincidunt lorem a mollis iaculis. In ac urna sollicitudin,
          lobortis lacus sit amet, tincidunt massa. Integer et aliquet lorem.
          Vestibulum dictum congue enim, in tempor orci laoreet eget. Donec
          eleifend quam leo, at dignissim libero ultrices sit amet.
        </p>
        <img class="illustration" src="~/assets/don.png" />
      </div>
    </section>

    <section id="faq" class="flex col center">
      <span class="titre">FAQ participants / bénévoles</span>
      <v-select
        v-model="reponseParticipant"
        :items="faqParticipants"
        item-title="question"
        item-value="reponse"
        label="Question"
      ></v-select>

      <p>{{ reponseParticipant }}</p>

      <v-divider></v-divider>
      <span class="titre">FAQ association</span>
      <v-select
        v-model="reponseAssociation"
        :items="faqAssociation"
        item-title="question"
        item-value="reponse"
        label="Question"
      ></v-select>

      <p>{{ reponseAssociation }}</p>
    </section>

    <Footer />
  </v-app>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import navbar from "../components/navbar.vue";
import Footer from "../components/footer.vue";

export default defineComponent({
  setup() {
    return {};
  },

  components: {
    navbar: navbar,
    Footer: Footer,
  },

  data: () => {
    return {
      reponseParticipant: "",
      reponseAssociation: "",

      faqParticipants: [
        {
          question:
            "Quels types de missions caritatives sont disponibles sur l'application ?",
          reponse: "Il y en a plein !",
        },
        {
          question: "La plateforme est-elle payante ?",
          reponse: "Non :)",
        },
        {
          question: "Suis-je rémunéré pour la mission que j'ai faite ?",
          reponse: "Non, c'est juste du bénévolat",
        },
        {
          question: "Quel est l'âge minimal pour participer à une mission ?",
          reponse: "14 ans",
        },
        {
          question:
            "Que dois-je faire en cas de problème en cas de problème avec une association ou un bénévole ?",
          reponse:
            "Utilisez le formulaire de contact ci-dessous, on fera le nécessaire.",
        },
      ],

      faqAssociation: [
        {
          question:
            "Quels types de missions caritatives sont disponibles sur l'application ?",
          reponse: "Il y en a plein !",
        },
        {
          question: "La plateforme est-elle payante ?",
          reponse: "Non :)",
        },
        {
          question: "Suis-je rémunéré pour la mission que j'ai faite ?",
          reponse: "Non, c'est juste du bénévolat",
        },
        {
          question: "Quel est l'âge minimal pour participer à une mission ?",
          reponse: "14 ans",
        },
        {
          question:
            "Que dois-je faire en cas de problème en cas de problème avec une association ou un bénévole ?",
          reponse:
            "Utilisez le formulaire de contact ci-dessous, on fera le nécessaire.",
        },
      ],
    };
  },

  mounted() {},
});
</script>

<style scoped></style>
