<template>
  <v-app>
    <navbar page="fonctionnement" />

    <div id="accroche" class="flex col center">
      <div id="img-background">
        <img id="main" src="~/assets/fonctionnement.png" />
      </div>
    </div>

    <section id="fonctionnement" class="flex col center">
      <span class="titre"
        >Se réunir pour agir n'a jamais été aussi simple !</span
      >

      <div class="flex row v-center">
        <p>
          Asso Share est une app qui facilite la rencontre entre les
          associations et les bénévoles pour des missions ponctuelles! Lorem
          ipsum dolor sit amet, consectetur adipiscing elit. Nulla odio ante,
          efficitur ac augue non, tempor vestibulum diam. Sed laoreet justo sit
          amet viverra lacinia. Quisque ultricies iaculis consequat. Vivamus
          aliquam sem sed elit egestas accumsan. In id ex odio. Donec sit amet
          urna sed ligula porttitor sodales placerat eu dui. Praesent eu massa
          sapien. Sed tincidunt lorem a mollis iaculis. In ac urna sollicitudin,
          lobortis lacus sit amet, tincidunt massa. Integer et aliquet lorem.
          Vestibulum dictum congue enim, in tempor orci laoreet eget. Donec
          eleifend quam leo, at dignissim libero ultrices sit amet.
        </p>
        <img class="illustration" src="~/assets/group.png" />
      </div>
      <div class="flex col v-center">
        <span class="titre">Comment ça marche ?</span>
        <span>Voici le détail de notre application ?</span>

        <div
          v-for="etape in listeEtapes"
          :key="etape.index"
          :class="['etape flex row', etape.index % 2 === 0 ? 'reverse' : '']"
        >
          <img :src="etape.image" />
          <v-spacer />
          <div class="flex col description">
            <span class="titre">{{ etape.titre }}</span>
            <span>{{ etape.texte }}</span>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </v-app>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import navbar from "../components/navbar.vue";
import Footer from "../components/footer.vue";

export default defineComponent({
  setup() {
    return {};
  },

  components: {
    navbar: navbar,
    Footer: Footer,
  },

  data: () => {
    return {
      listeEtapes: [
        {
          index: 1,
          titre: "Étape #1 - Inscription",
          texte:
            "Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là, mais la majeure partie d'entre elles a été altérée par l'addition d'humour ou de mots aléatoires qui ne ressemblent pas une seconde à du texte standard. Si vous voulez utiliser un passage du Lorem Ipsum, vous devez être sûr qu'il n'y a rien d'embarrassant caché dans le texte.",
          image: "https://placehold.co/573x391/EEE/31343C",
        },
        {
          index: 2,
          titre: "Étape #2 - Création du profil",
          texte:
            "Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là, mais la majeure partie d'entre elles a été altérée par l'addition d'humour ou de mots aléatoires qui ne ressemblent pas une seconde à du texte standard. Si vous voulez utiliser un passage du Lorem Ipsum, vous devez être sûr qu'il n'y a rien d'embarrassant caché dans le texte.",
          image: "https://placehold.co/573x391/EEE/31343C",
        },
        {
          index: 3,
          titre: "Étape #3 - Déposez ou recherchez une annonce",
          texte:
            "Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là, mais la majeure partie d'entre elles a été altérée par l'addition d'humour ou de mots aléatoires qui ne ressemblent pas une seconde à du texte standard. Si vous voulez utiliser un passage du Lorem Ipsum, vous devez être sûr qu'il n'y a rien d'embarrassant caché dans le texte.",
          image: "https://placehold.co/573x391/EEE/31343C",
        },
        {
          index: 4,
          titre: "Étape 4 - Enjoy !!",
          texte:
            "Plusieurs variations de Lorem Ipsum peuvent être trouvées ici ou là, mais la majeure partie d'entre elles a été altérée par l'addition d'humour ou de mots aléatoires qui ne ressemblent pas une seconde à du texte standard. Si vous voulez utiliser un passage du Lorem Ipsum, vous devez être sûr qu'il n'y a rien d'embarrassant caché dans le texte.",
          image: "https://placehold.co/573x391/EEE/31343C",
        },
      ],
    };
  },
});
</script>

<style scoped lang="scss">
@import "../styles/fonctionnement.css";
</style>
