<template>
  <v-app>
    <navbar page="galerie" />
    <div id="container">
      <div id="accroche" class="flex col center">
        <div id="img-background">
          <img id="main" src="~/assets/main.png" />
        </div>
      </div>
    </div>

    <Footer />
  </v-app>
</template>

<script lang="ts">
import { defineComponent } from "vue";

import Navbar from "../components/navbar.vue";
import Footer from "../components/footer.vue";

export default defineComponent({
  setup() {
    return {};
  },

  components: {
    Navbar: Navbar,
    Footer: Footer,
  },

  data: () => {
    return {};
  },

  methods: {},
});
</script>

<style scoped></style>

<style lang="scss">
@import "~/styles/style.css";
</style>
