<template>
  <v-app>
    <navbar />
    <div id="container">
      <div id="accroche" class="flex col center">
        <div id="img-background">
          <img id="main" src="~/assets/main.png" />
        </div>
      </div>

      <section id="fonctionnement" class="flex col center">
        <span class="titre">LOREM IPSUM !!</span>

        <div class="flex row v-center">
          <p>
            Asso Share est une app qui facilite la rencontre entre les
            associations et les bénévoles pour des missions ponctuelles! Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Nulla odio ante,
            efficitur ac augue non, tempor vestibulum diam. Sed laoreet justo
            sit amet viverra lacinia. Quisque ultricies iaculis consequat.
            Vivamus aliquam sem sed elit egestas accumsan. In id ex odio. Donec
            sit amet urna sed ligula porttitor sodales placerat eu dui. Praesent
            eu massa sapien. Sed tincidunt lorem a mollis iaculis. In ac urna
            sollicitudin, lobortis lacus sit amet, tincidunt massa. Integer et
            aliquet lorem. Vestibulum dictum congue enim, in tempor orci laoreet
            eget. Donec eleifend quam leo, at dignissim libero ultrices sit
            amet.
          </p>
          <img class="illustration" src="~/assets/don.png" />
        </div>
        <!--
        <div
          class="credo flex col center"
          id="credos"
          v-for="credo in listeCredos"
          :key="credo.titre"
        >
          <span class="credo-titre">{{ credo.titre }}</span>
          <span class="description">{{ credo.description }}</span>
        </div>
        -->
      </section>

      <v-divider />

      <section id="fonctionnement" class="flex col center">
        <span class="titre">C'est quoi Asso Share ?</span>

        <div class="flex row v-center">
          <img class="illustration" src="~/assets/gens.png" />
          <div class="flex col v-center">
            <p>
              Phasellus quam arcu, rutrum nec orci eget, laoreet convallis est.
              Maecenas tempus mollis orci sit amet eleifend. Pellentesque et
              orci mi. Curabitur pellentesque, mi dapibus venenatis consectetur,
              diam turpis viverra velit, et hendrerit orci enim non ipsum.
              Mauris et urna fringilla, suscipit arcu nec, laoreet orci. Quisque
              accumsan dolor id rutrum aliquam. Integer at justo odio. Cras ac
              suscipit erat. Morbi et libero quis nulla tempor posuere.
              Vestibulum mi diam, finibus ac felis eu, laoreet elementum odio.
              Suspendisse sit amet tortor viverra, suscipit diam a, varius
              ligula. Pellentesque placerat ultricies dictum. Curabitur ante
              ipsum, eleifend a orci non, mollis cursus lacus.
            </p>

            <p id="slogan">
              Pour ceux qui veulent aider, fédérer ou juste participer !
            </p>
            <a
              id="lien-inscription"
              href="javascript:void(0);"
              ref="noreferrer norelopener"
              ><v-btn
                id="btn-inscription"
                block
                rounded="xl"
                size="x-large"
                color="#8e76ae"
                >Je m'inscris !</v-btn
              ></a
            >
          </div>
        </div>
        <!--
        <div
          class="credo flex col center"
          id="credos"
          v-for="credo in listeCredos"
          :key="credo.titre"
        >
          <span class="credo-titre">{{ credo.titre }}</span>
          <span class="description">{{ credo.description }}</span>
        </div>
        -->
      </section>

      <v-divider />

      <section id="temoignages" class="flex col center">
        <span class="titre">Nos utilisateurs témoignent !</span>
        <div class="temoignage-container flex row">
          <div
            class="temoignage flex col center"
            v-for="temoignage in temoignages"
            :key="temoignage.prenom"
          >
            <img :src="temoignage.image" class="photo" alt="" />
            <span class="prenom">{{ temoignage.prenom }}</span>

            <div class="decla flex col v-center">
              <span class="accroche">{{ temoignage.accroche }}</span>
              <span class="texte-temoignage">{{ temoignage.declaration }}</span>
              <img class="etoiles" :src="temoignage.imageNote" />
            </div>
          </div>
        </div>
      </section>
      <v-divider />

      <section id="contact" class="flex col center">
        <div id="contact-container" class="flex col v-center">
          <span class="titre">Donnez-nous votre avis !</span>
          <p>
            Une questions non répondue ? Une remarque ? N’hésitez pas à nous
            envoyez un message et nous vous répondrons dans les plus brefs
            délais !
          </p>

          <div id="form-container">
            <v-form ref="form" v-model="isFormValid">
              <v-text-field
                v-model="formulaire.nom"
                label="Nom et prénom"
              ></v-text-field>

              <v-text-field
                v-model="formulaire.email"
                label="Adresse mail"
                :rules="[rules.required, rules.email]"
                required
              />

              <v-textarea
                v-model="formulaire.message"
                label="Message"
                rows="10"
                :rules="[rules.required]"
              />

              <v-btn
                color="#8e76ae"
                :disabled="!isFormValid"
                class="mt-4"
                @click="envoyerFormulaire"
              >
                Envoyer
              </v-btn>
            </v-form>
          </div>
        </div>
      </section>

      <section id="galerie"></section>
    </div>

    <Footer />
  </v-app>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Lisa from "~/assets/lisa.png";
import Marie from "~/assets/marie.png";
import Bernard from "~/assets/bernard.png";
import quatreEtoiles from "~/assets/4_etoiles.png";
import cinqEtoiles from "~/assets/5_etoiles.png";

import Navbar from "../components/navbar.vue";
import Footer from "../components/footer.vue";

export default defineComponent({
  setup() {
    return {};
  },

  components: {
    Navbar: Navbar,
    Footer: Footer,
  },

  data: () => {
    return {
      listeCredos: [
        {
          titre: "🤝 CONNECTEZ-VOUS À LA SOLIDARITÉ",
          description:
            "Trouvez des missions qui vous passionnent ou des bénévoles enthousiastes pour votre association en un seul endroit.",
        },
        {
          titre: "🌟 MISSIONS QUI COMPTENT",
          description:
            "Que vous cherchiez à donner de votre temps ou à recevoir de l'aide, Asso Share vous met en contact avec les personnes qui partagent vos valeurs.",
        },
        {
          titre: "💼 DES MISSIONS POUR TOUS",
          description:
            "Que vous soyez étudiant, professionnel ou en recherche d’emplois, il y a toujours une mission pour vous. Chacun peut faire la différence !",
        },
      ],

      temoignages: [
        {
          prenom: "Lisa - bénévole",
          image: Lisa,
          accroche: "Ça n'a jamais été aussi simple d'aider !",
          declaration: "Lorem Ipsum ceci est un témoignage",
          imageNote: quatreEtoiles,
        },
        {
          prenom: "Marie - participante",
          image: Marie,
          accroche: "Je découvre de nouvelles associations !",
          declaration: "Lorem Ipsum ceci est un témoignage",
          imageNote: cinqEtoiles,
        },
        {
          prenom: "Bernard - association",
          image: Bernard,
          accroche: "Une jolie façon de motiver les gens à agir.",
          declaration: "Lorem Ipsum ceci est un témoignage",
          imageNote: quatreEtoiles,
        },
      ],
      sidebar: false,
      isFormValid: false,

      reponseParticipant: "",
      reponseAssociation: "",

      faqParticipants: [
        {
          question:
            "Quels types de missions caritatives sont disponibles sur l'application ?",
          reponse: "Il y en a plein !",
        },
        {
          question: "La plateforme est-elle payante ?",
          reponse: "Non :)",
        },
        {
          question: "Suis-je rémunéré pour la mission que j'ai faite ?",
          reponse: "Non, c'est juste du bénévolat",
        },
        {
          question: "Quel est l'âge minimal pour participer à une mission ?",
          reponse: "14 ans",
        },
        {
          question:
            "Que dois-je faire en cas de problème en cas de problème avec une association ou un bénévole ?",
          reponse:
            "Utilisez le formulaire de contact ci-dessous, on fera le nécessaire.",
        },
      ],

      faqAssociation: [
        {
          question:
            "Quels types de missions caritatives sont disponibles sur l'application ?",
          reponse: "Il y en a plein !",
        },
        {
          question: "La plateforme est-elle payante ?",
          reponse: "Non :)",
        },
        {
          question: "Suis-je rémunéré pour la mission que j'ai faite ?",
          reponse: "Non, c'est juste du bénévolat",
        },
        {
          question: "Quel est l'âge minimal pour participer à une mission ?",
          reponse: "14 ans",
        },
        {
          question:
            "Que dois-je faire en cas de problème en cas de problème avec une association ou un bénévole ?",
          reponse:
            "Utilisez le formulaire de contact ci-dessous, on fera le nécessaire.",
        },
      ],

      rules: {
        required: (value: any) => !!value || "Ce champ est requis",
        email: (value: string) =>
          /^[A-Z0-9_!#$%&'*+\/=?`{|}~^.-]+@[A-Z0-9.-]+$/gim.test(value) ||
          "Adresse mail invalide",
      },

      formulaire: {
        nom: "",
        email: "",
        message: "",
      },
    };
  },

  methods: {
    async envoyerFormulaire() {
      alert("Formulaire envoyé !");
    },
  },
});
</script>

<style scoped></style>

<style lang="scss">
@import "~/styles/style.css";
</style>
