.description .titre {
  font-size: 20px;
}

.etape {
  max-width: 80vw;
  margin: 10px;
  img {
    max-width: 300px;
    height: auto;
    border-radius: 20px;
  }

  .description {
    margin: 10px;
  }
}
