.topnav {
  background-color: #8e76ae;
  overflow: hidden;
  max-height: 60px;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height: 60px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active-route {
  background-color: #fff;
  font-weight: bold;
  color: #8e76ae;
}

#lien-logo {
  padding: 0;
}
#lien-logo img {
  max-height: 60px;
  width: auto;
  padding: 5px;
}/*# sourceMappingURL=navbar.css.map */