@import "fonts.css";
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap");

html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: "Spline Sans", sans-serif;
  background: #fff;
  color: #000;
}

section {
  margin: 10px 0px;
}

p {
  max-width: 70vw;
}

.titre {
  font-family: "Supertea", sans-serif;
  font-size: 30px;
}

.sous-titre {
  font-family: "Supertea", sans-serif;
  font-size: 20px;
}

.flex {
  display: flex;

  &.col {
    flex-direction: column;

    &.reverse {
      flex-direction: column-reverse;
    }
  }

  &.row {
    flex-direction: row;

    &.reverse {
      flex-direction: row-reverse;
    }
  }

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.v-center {
    align-items: center;
  }
}

//Responsive
@media only screen and (max-width: 768px) {
  .temoignage-container {
    flex-direction: column !important;
  }

  #lien-logo {
    display: none;
  }
}

.v-toolbar {
  background-color: #8e76ae !important;
  color: #fff !important;

  #logo {
    max-height: 55px;
    width: auto;
  }

  a {
    height: 100%;
    color: #fff;
  }
}

.temoignage-container {
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.temoignage {
  flex: 2 1 auto;

  .photo {
    width: 175px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #8e76ae;
  }

  .prenom {
    color: #000;

    font-family: Supertea;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .accroche {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .decla {
    border-radius: 20px;
    border: 6px solid #8e76ae;

    background: #fff;
    color: #000;
    width: 90%;
    height: 200px;
    box-shadow: 10px 13px 42px -6px rgba(26, 26, 26, 0.25);
    justify-content: space-around;
    margin: 5px;
  }
  .texte-temoignage {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

#img-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5d2ec;
  width: 100%;
  padding: 1% 1% 0% 1%;
}
#main {
  object-fit: cover;
  height: auto;
}

.illustration {
  width: 30%;
  margin: 10px;
}

#slogan {
  font-family: "Supertea", sans-serif;
  font-size: 34px;
}

.btn-inscription {
  background-color: #8e76ae;
  color: #fff;

  .v-btn__content {
    font-family: "Supertea", sans-serif;
  }
}

#lien-inscription {
  text-decoration: none;
}

#contact-container {
  width: 95vw;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;

  .v-form {
    width: 100%;

    .v-btn {
      max-width: 100px;
    }
  }
}
